<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473437165434-c5lkest9fghscl0l06fpieh4n71lceg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473437165434-c5lkest9fghscl0l06fpieh4n71lceg1</string>
	<key>API_KEY</key>
	<string>AIzaSyDgEmynRNBxQrpflNdXlCLozyjG5ORwNVU</string>
	<key>GCM_SENDER_ID</key>
	<string>473437165434</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.devtodo</string>
	<key>PROJECT_ID</key>
	<string>devtodo-c0c65</string>
	<key>STORAGE_BUCKET</key>
	<string>devtodo-c0c65.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:473437165434:ios:372028a2dc78698281a8c3</string>
</dict>
</plist>